body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
}

.table {
    margin-top: 20px;
}

    .table th a {
        color: #000000;
        text-decoration: none;
    }

        .table th a:hover {
            color: #555555;
        }

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link {
    color: #007bff;
}

    .pagination .page-link:hover {
        color: #0056b3;
    }

.btn {
    margin: 5px;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 1rem;
}

.btn-sm {
    margin-right: 0.5rem;
}
